.contact{
	margin: 0;
	padding: 0;
	background-color: #050404;
}

.contact h1{
    text-align: center;
    padding: 20px;
}

.contact hr{
    margin-left: 40%;
    width: 20%;
    background-color: white;
    height: 2px;
    margin-bottom: 15px;
}

.contact .row{
	margin-left: 5%;
	width: 90%;
	padding-bottom: 50px;
}

.contact .left h2{
	text-transform: uppercase;
}

.contact .contact-info{
	margin: 1rem 0;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
}

.contact .contact-info > span{
    font-size: 2.6rem;
    margin-right: 1.2rem;
}
.contact .contact-info h3{
    font-size: 1rem;
    font-weight: 400;
}
.contact .contact-info h3 span{
    text-transform: uppercase;
    font-size: 1.05rem;
}
.contact .social{
    display: flex;
}
.contact .social a{
    display: block;
    width: 50px;
    height: 50px;
    background: #171717;
    margin: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s ease;
}
.contact .social a:first-child{
    margin-left: 0;
}
.contact .social a:hover{
    background: #72b626;
}
.contact-form input, .contact-form textarea{
    width:90%;
    margin: 1rem 0;
    background: #171717;
    border: 2px solid transparent;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 25px;
    outline: 0;
    caret-color: #fff;
}

.contact-form textarea{
    width:97%;
}

.contact-form input:focus, .contact-form textarea:focus{
    border-color: #72b626;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    text-transform: uppercase;
}

.btn{
    border: none;
    margin: 1rem 0;
    border-radius: 35px;
    background: #123;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn:hover{
    opacity: 0.7;
}


@media screen and (min-width: 992px){
	.contact .row{
	    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
}

@media screen and (min-width: 768px){
	.contact-form .form-group{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .contact .row > div{
        margin: 0;
    }
}
