/* ------------------------------- eduaction ------------------------------ */
.education{
	margin: 0;
	padding: 0;
	background-color: #122;
}

.education .left h1{
	margin-top: 10px;
	/* font-family: Courier New; */
	margin-bottom: 10px;
	text-align: center;
}

.education .left hr{
	margin-left: 40%;
	width: 20%;
	background-color: white;
	height: 2px;
	margin-bottom: 10px;
}

.education .left{
	display: flex;
	flex-wrap: wrap;
}

.education .column{
	flex: 1 1 40rem;
	margin: 1rem;
	padding: 2rem;
	border: 3px solid white;
	border-radius: 15px;
}

.education .column .title{
	font-size: 2.5rem;
}

.education .column .box{
	padding-top: 10px;
	padding-left: 2.5rem;
	padding-bottom: 2rem; 
	border-left: 0.2rem solid lightskyblue;
	position: relative;
}

.education .column .box::before{
	content: '';
	position: absolute;
	top: .1rem;
	left: -.9rem;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: lightskyblue;
}

.education .column .box .year i{
	margin-right: 1rem;
}
